doctype html
html
    head
        title test
    body
        h1 TXT2HTML
        form(action="/read" method="post" enctype="multipart/form-data")
            input(type="file" name="txt")
            button(type="submit") submit